.login-box.login-column
  = form_for(:session, url: sessions_path) do |f|
    .login-email-fields
      = f.label :email, class: "login-email-label"
      = f.text_field :email, class: "login-email-input"
    .login-password-fields
      = f.label :password, class: "login-password-label"
      = f.password_field :password, class: "login-password-input"
    = f.submit "Sign in", class: "login-submit-button"