Hi, #{@receiver.name}!

You have a new message from #{@sender.name}.

***

#{@message.text}

***

To reply, please go to
= link_to("REPLY", user_conversation_path(user_id: @receiver.id.to_s, id: @thread.to_s)).prepend(ENV['heroku_path'])

Visit your account at
= link_to("ACCOUNT", user_path(id: @receiver.id.to_s)).prepend(ENV['heroku_path'])