%h1 Hi, #{@receiver.name}!

%h2 You have a new message from #{@sender.name}.

\--
.div #{@message.text}
\--

Click to
= link_to("reply", user_conversation_url(user_id: @receiver.id.to_s, id: @thread.to_s))

Visit your
= link_to("account", user_url(id: @receiver.id.to_s))