%h1 My Conversations

%ul
= @inbox.each do |f|
	%li
	(#{ User.find(f.user_ids[0]).name }, #{ User.find(f.user_ids[1]).name })
	= f.subject.to_s
	= link_to 'Expand', user_conversation_path(id: f.id)

%h2 Boilerplate (rendered from _conversations)
= render "conversations"

/ Create a new conversation (search for user?)
= link_to 'Send a new message', new_user_conversation_path
