%h1 My Conversations

%ul
= @inbox.each do |f|
	%li
	= f.subject
	= link_to 'Expand', user_conversation_path(id: f.id)

%h2 Boilerplate (rendered from _conversations)
= render "conversations"

/ Create a new conversation (search for user?)
= link_to 'Send a new message', new_user_conversation_path
