%h1 Write a message to #{@receiver.name}.

/ Will need instance variable for the recipient(s)
= form_for [@receiver, @conversation] do |job|

	%p Subject
	= job.text_field :subject

	%p Message
	= job.text_area :subject, size: '24x6'

	= job.button :submit, value: "Send message"

/ When done, should go back to the inbox and the sent message should be
/ in snippet view at the top of the conversation partial
