.pure-g.grid-columns-container
  .pure-u-1-5
  .pure-u-3-5.login-box-positioner
    .sign-up-box.sign-up-column
      %h1 Write a message to #{@receiver.name}.

      / Will need instance variable for the recipient(s)
      = form_for [@receiver, @conversation] do |c|
        %p Subject
        = c.text_field :subject

        %p Message
        = fields_for @conversation.messages.last do |m|
          = m.text_area :text, size: '24x6'

        = c.button :submit, value: "Send message"
  .pure-u-1-5
