.pure-g.grid-columns-container
  .pure-u-1-8.side-columns
  .pure-u-3-4.login-box-positioner
    .sign-up-box.sign-up-column
      =# Deletes must be done with button_to per W3
      = link_to '<< return to inbox', user_conversations_path, id: "inbox-return-link"
      = button_to('delete this thread', user_conversation_path(id: @thread.id), method: :delete)

      %h1#message-subject #{@thread.subject}

      / Display each of the messages
      - @thread.messages.each do |f|
        .message-body 
          = f.text
        .message-sender
          \--#{ User.find(f.sender).name }

      / Give way to add more messages in the thread
      %h3#message-reply-header Reply
      = form_for @thread.messages.last, url: {controller: "conversations", action: "update"} do |m|
        = m.text_area :text, id: "message-reply", value: ''
        %br
        = m.button :submit, value: "Send", class: "message-reply-button"
  .pure-u-1-8.side-columns
        