-#
  %ul#sign-up-progress-bar
    %li.active Name
    %li
      Gender
      %ul
        %li Category
        %li Identity
        %li Pronouns
    %li Location
    %li 
      Resources
      %ul
        %li Position
        %li Food
        %li Shower
        %li Laundry
        %li Housing
        %li Transport
        %li Buddy
        %li Misc
    %li Contact
    %li Finish

.sign-up-box.sign-up-column

  = simple_form_for @user do |f|
    .step-1.wizard-page.wizard-current
      %h1 Welcome!
      We're so glad to see you here. Let's walk through making your account!
      %fieldset
        %h2.fs-title First things first: what's your name?
        = f.input :name, label: false, placeholder: "I am..."

      / %button.wizard-forward{type: "button",id: "user_name_button", onclick: "th.advanceWizard(1,2); th.advanceWizard(0,'g-1');"} Next
      %button.wizard-forward{type: "button",id: "user_name_button", onclick: "th.validateAndAdvance($(this));"} Next
    .step-2.wizard-page
      = f.simple_fields_for :gender do |g|
        %fieldset.step-g-1.wizard-page
          %h2.fs-title
            Now, let's talk about gender. 
          Are you a transgender person, or otherwise under the trans* identity umbrella?
          .radio-form-container
            = g.collection_radio_buttons :trans, [[true, 'Yes!'] ,[false, 'Nope']], :first, :last, item_wrapper_class: "radio-container"
          %button.wizard-back{type: "button",onclick: "th.advanceWizard('g-1',0); th.advanceWizard(2,1);"} Back
          / %button.wizard-forward{type: "button",id: "user_gender_attributes_trans_true_button",onclick: "th.advanceWizard('g-1','g-2')"} Next
          %button.wizard-forward{type: "button",id: "user_gender_attributes_trans_true_button",onclick: "th.validateAndAdvance($(this));"} Next
  
        %fieldset.step-g-2.wizard-page
          %h2.fs-title 
            What is your gender?
          = select_tag "binary_genders", options_for_select([ "Male", "Female" ], "Male")
          = select_tag "binary_trans_genders", options_for_select([ "Male", "Female", "Nonbinary" ], "Male")
          = select_tag "nonbinary_trans_genders", options_for_select(["Bigender","Agender","Genderqueer","Genderfluid","Just let me type it!"], "Genderqueer")
          = g.input :identity, label: false, input_html: { value: 'Male', placeholder: "I am..."}
          %button.wizard-back{type: "button",onclick: "th.advanceWizard('g-2','g-1')"} Back
          / %button.wizard-forward#pronoun-button{type: "button",id: "user_gender_attributes_identity_button",onclick: "th.advanceWhereDecision('g-2')"} Next
          %button.wizard-forward{type: "button",id: "user_gender_attributes_identity_button",onclick: "th.validateAndAdvance($(this));"} Next

        %fieldset.step-g-3.wizard-page
          %h2.fs-title 
            So, are your pronouns 
            %span#they "he",
            %span#them "him", 
            %span#their "his"?
          .radio-form-container
            = g.collection_radio_buttons :cp, [[false, 'Yes'] ,[true, 'No']], :first, :last, item_wrapper_class: "radio-container"
          %button.wizard-back{type: "button",onclick: "th.advanceWizard('g-3','g-2')"} Back
          / %button.wizard-forward{type: "button",id: "user_gender_attributes_cp_false_button",onclick: "th.advanceWhereDecision('g-3')"} Next
          %button.wizard-forward{type: "button",id: "user_gender_attributes_cp_false_button",onclick: "th.validateAndAdvance($(this));"} Next
        %fieldset.step-g-4.wizard-page
          %h2.fs-title Please enter your pronouns.
          = g.input :they, label: false, placeholder: '"She/he/they" tense'
          = g.input :their, label: false, placeholder: '"Her/him/them" tense'
          = g.input :them, label: false, placeholder: '"Her/his/their" tense'
          %button.wizard-back{type: "button",onclick: "th.advanceWizard('g-4','g-3')"} Back
          / %button.wizard-forward{type: "button",id: "user_gender_attributes_they_button",onclick: "th.advanceWizard('g-4','3')"} Next
          %button.wizard-forward{type: "button",id: "user_gender_attributes_they_button",onclick: "th.validateAndAdvance($(this));"} Next
    .step-3.wizard-page
      = f.simple_fields_for :contact do |c|
        %fieldset
          %h2.fs-title Enter your phone, email, or both-- you can login with these later.
          = c.input :email, label: false, placeholder: "Email"
          = c.input :phone, label: false, placeholder: "Phone"
          %button.wizard-back{type: "button",onclick: "th.advanceWhereDecision('3')"} Back
          / %button.wizard-forward{type: "button",id: "user_contact_attributes_email_button",onclick: "th.advanceWizard('3','4')"} Next
          %button.wizard-forward{type: "button",id: "user_contact_attributes_email_button",onclick: "th.validateAndAdvance($(this));"} Next

    .step-4.wizard-page
      = f.simple_fields_for :location do |l|
        %fieldset
          %h2.fs-title Enter your location information. 
          = l.input :zip, label: false, placeholder: "zip"
          = l.input :city, label: false, placeholder: "city"
          = l.input :state, label: false, placeholder: "state"
          %button.wizard-back{type: "button",onclick: "th.advanceWizard('4','3')"} Back
          / %button.wizard-forward{type: "button",id: "user_location_attributes_zip_button",onclick: "th.advanceWizard('4','5')"} Next
          %button.wizard-forward{type: "button",id: "user_location_attributes_zip_button",onclick: "th.validateAndAdvance($(this));"} Next
          %div.mapcontainer 
            #map_canvas

    .step-5.wizard-page
      %fieldset
        %h2.fs-title Are you seeking help, or can you offer help?
        .radio-form-container
          = f.collection_radio_buttons :is_provider, [[true, 'I can help!'] ,[false, 'I need help!']], :first, :last, item_wrapper_class: "radio-container"
        %button.wizard-back{type: "button",onclick: "th.advanceWizard('5','4')"} Back
        / %button.wizard-forward{type: "button",id: "user_is_provider_true_button",onclick: "th.advanceWizard('5','6')"} Next
        %button.wizard-forward{type: "button",id: "user_is_provider_true_button",onclick: "th.validateAndAdvance($(this));"} Next

    .step-6.wizard-page
      %fieldset
        %h2.fs-title#seeker-status-text What can you help with/offer?
        .resource
          = f.simple_fields_for :food_resource do |fr|
            %label Food
            .radio-form-container
              = fr.collection_radio_buttons :currently_offered, [[true, 'Yes'] ,[false, 'No']], 
                                                    :first, :last, item_wrapper_class: "radio-container", :checked => [false, 'No']
        .resource
          = f.simple_fields_for :shower_resource do |sr|
            %label A clean shower
            .radio-form-container
              = sr.collection_radio_buttons :currently_offered, [[true, 'Yes'] ,[false, 'No']], 
                                                    :first, :last, item_wrapper_class: "radio-container", :checked => [false, 'No']
        .resource
          = f.simple_fields_for :laundry_resource do |lr|
            %label Access to a laundry machine
            .radio-form-container
              = lr.collection_radio_buttons :currently_offered, [[true, 'Yes'] ,[false, 'No']], 
                                                    :first, :last, item_wrapper_class: "radio-container", :checked => [false, 'No']
        .resource
          = f.simple_fields_for :housing_resource do |hr|
            %label Somewhere to sleep
            .radio-form-container
              = hr.collection_radio_buttons :currently_offered, [[true, 'Yes'] ,[false, 'No']], 
                                                    :first, :last, item_wrapper_class: "radio-container", :checked => [false, 'No']
        .resource
          = f.simple_fields_for :transportation_resource do |tr|
            %label Transportation from place to place
            .radio-form-container
              = tr.collection_radio_buttons :currently_offered, [[true, 'Yes'] ,[false, 'No']], 
                                                    :first, :last, item_wrapper_class: "radio-container", :checked => [false, 'No']
        .resource
          = f.simple_fields_for :buddy_resource do |br|
            %label A buddy for mentorship and added safety in acquiring resources
            .radio-form-container
              = br.collection_radio_buttons :currently_offered, [[true, 'Yes'] ,[false, 'No']], 
                                                    :first, :last, item_wrapper_class: "radio-container", :checked => [false, 'No']

        =# f.input :misc_resource, as: :boolean, label: "Something else"
        %button.wizard-back{type: "button",onclick: "th.advanceWizard('6','5')"} Back
        / %button.wizard-forward{type: "button",id: "user_food_resource_attributes_currently_offered_true_button",onclick: "th.advanceWizard('6','7')"} Next
        %button.wizard-forward{type: "button",id: "user_food_resource_attributes_currently_offered_true_button",onclick: "th.validateAndAdvance($(this));"} Next

    .step-7.wizard-page
      %fieldset
        %h2.fs-title Fantastic!
        Just choose a password, and you're ready to get started!
        = f.input :password
        = f.input :password_confirmation
        / Adding a reCAPTCHA
        = recaptcha_tags
        /= verify_recaptcha


        = f.button :submit, value: "Create my account!", id: "submit_signup",class: "wizard-forward"

        %button.wizard-back{type: "button",onclick: "th.advanceWizard('7','6')"} Back