
%ul#sign-up-progress-bar
  %li.active Name
  %li
    Gender
    %ul
      %li Category
      %li Identity
      %li Pronouns
  %li Location
  %li 
    Resources
    %ul
      %li Position
      %li Food
      %li Shower
      %li Laundry
      %li Housing
      %li Transport
      %li Buddy
      %li Misc
  %li Contact
  %li Finish

.sign-up-box.sign-up-column
  %h1 Sign up!

  = simple_form_for @user do |f|

    %fieldset
      %h2.fs-title What name would you like to be listed by?
      = f.input :name, label: false, placeholder: "Name"

      = f.simple_fields_for :gender do |g|
        %fieldset
          %h2.fs-title Are you a transgender person, or otherwise under the trans* identity umbrella?
          = g.collection_radio_buttons :trans, [[true, 'Yes'] ,[false, 'No']], :first, :last
    
        %fieldset 
          %h2.fs-title What is your gender?
          / JAVASCRIPT TO-DO: if "trans" boolean was true, display this help text. Cis folk don't need the clarification.
          / Rails to-do: Likely best to move the default selection options into the Gender model itself, and retrieve with a getter.
          %span.fs-subtitle (Your identified gender, not neccessarily your birth sex.)
          /- ["Male","Female","Non-binary"], ["Wait, I'm binary, take me back.","Bigender","Agender","Genderqueer","Genderfluid","Just let me type it!"], 
          = g.input :identity, collection: ["Male","Female","Non-binary"]
          / / JS: -if Non-binary selected, swap out selection for these options->
          = g.input :identity, collection: ["Wait, I'm binary, take me back.","Bigender","Agender","Genderqueer","Genderfluid","Just let me type it!"]
          / / JS: -if "Just let me type it!" is chosen, allow custom text entry->
          = text_field :identity, label: false, placeholder: "Gender identity"

        %fieldset
          %h2.fs-title So, are your pronouns (RETRIEVE STANDARD PRONOUNS FOR IDENTITY SELECTED:) "he", "him", "his"?
          = g.collection_radio_buttons :cp, [[false, 'Yes'] ,[true, 'No']], :first, :last
          / -if no->
          %label Please enter your pronouns.
          = g.input :they, label: false, placeholder: '"She/he/they" tense'
          = g.input :their, label: false, placeholder: '"Her/him/them" tense'
          = g.input :them, label: false, placeholder: '"Her/his/their" tense'

        / .page 
        /   /-if custom entered, confirmation page->
        /   %div
        /     So, your pronouns are:
        /     [They] joined TransHousing on MM/DD/YY.
        /     I can't wait to see [their] profile!
        /     I wonder who will get in touch with [them] first?
        /   .answer [looks good!][oops, not quite]


    %fieldset
      %h2.fs-title Contact methods
      %span.fs-subtitle 
      = f.simple_fields_for :contact do |c|
        / Implement "preference" selection-- drop down? Checkbox?
        = c.input :email, label: false, placeholder: "Email"
        = c.input :phone, label: false, placeholder: "Phone"

    %fieldset
      %h2.fs-title Location
      = f.simple_fields_for :location do |l|
        = l.input :zip, label: false, placeholder: "zip"
        = l.input :city, label: false, placeholder: "city"
        = l.input :state, label: false, placeholder: "state"

    %fieldset
      %h2.fs-title Are you seeking help, or can you offer help?
      = f.collection_radio_buttons :is_provider, [[true, 'I can help!'] ,[false, 'I need help!']], :first, :last
      %br

    %fieldset
      %h2.fs-title Resources
      / To get you started quickly, 
      / This gets into "resource" data model, also embedded in each user model instance.

      %br What can you help with/offer?
      /.checkbox [Each is a "checkbox" or radio button for OFFER HELP side, but set up visually so doesnt quite look like checkboxes:
      / Has short descriptions with icons and "Yes/No" mobile-style slider checkbox
      .item
        Be a Buddy
        .description (Description, description...)
        .checkbox    [yes/no with no as default]
      .item
        Offer Food
        .description (Description, description...)
        .checkbox    [yes/no with no as default]
      .item
        Help with transportation
        .description (Description, description...)
        .checkbox    [yes/no with no as default]
      .item
        Help with laundry
        .description (Description, description...)
        .checkbox    [yes/no with no as default]
      .item
        Offer a clean shower
        .description (Description, description...)
        .checkbox    [yes/no with no as default]
      .item
        Offer temporary shelter
        .description (Description, description...)
        .checkbox    [yes/no with no as default]
      .item
        Offer housing
        .description (Description, description...)
        .checkbox    [yes/no with no as default]
        
    %fieldset
      %h2.fs-title
      Alright! One last step. Create your password, and we're good to go!
      = f.input :password
      = f.input :password_confirmation
      = f.button :submit, value: "Create my account!", id: "submit_signup"



  /* Once signed up-- redirect to what: preferences, or profile, or matches?
  / Profile probably best, so they can flesh it out more
  / Have a flash: 'You can also set up your site preferences [here]...'
  /