<h1> Hi <%= @user.name %></h1>

<% if @reviews.any? %>

	Reminder: please complete the following reviews: <br>

	<% @reviews.each do |r| %>
		Review for <%= User.find(r.user_id).name %>: <%= link_to "Click here", user_url(r.user_id.to_s, review_id: r.id.to_s) %><br>
	<% end %>


<% else %>


	All reviews completed.


<% end %>






<br><br>




<h3> History </h3>

<% @user.requests.each do |r| %>
	<% if @user.is_provider %>
		<% if r.completed %>
			Helped <%= User.find(r.helpee).name %> <%= time_ago_in_words(r.updated_at) %> ago. <br>
		<% else %>
			Remember to finish helping <%= User.find(r.helpee).name %>. <br>
		<% end %>
	<% else %>
		<% if r.completed %>
			Helped by <%= User.find(r.helper).name %> <%= time_ago_in_words(r.updated_at) %> ago. <br>
		<% else %>
			Reminder: You have a <%= link_to "help request", user_request_path(User.find(r.helper), r) %> with <%= User.find(r.helper).name %>. <br>
		<% end %>
	<% end %>
<% end %>