.pure-g.login-column
  .pure-u-1-8.side-columns
  .pure-u-3-4.login-box-positioner
    .login-box.login-column

      %h3 Pending Exchanges

      - if @user.pending_exchanges.any?
        = render partial: "exchanges/uncompleted_exchange", collection: @user.pending_exchanges, locals: {user_type: @user.user_type_complement}
      - else
        No pending exchanges right now.

      %h3 Active Exchanges

      - if @user.active_exchanges.any?
        = render partial: "exchanges/uncompleted_exchange", collection: @user.active_exchanges, locals: {user_type: @user.user_type_complement}
      - else
        No active exchanges right now.


      %h3 Reviews to Finish
      - if @user.authored_reviews.uncompleted.any?
        Reminder: please complete the following reviews:
        = render partial: "reviews/uncompleted_review", collection: @user.authored_reviews.uncompleted
      - else
        Nobody to review right now.


      %h3 Past Reviews You've Written
      - if @user.authored_reviews.completed.any?
        = render partial: "reviews/authored_review", collection: @user.authored_reviews.completed
      - else
        You haven't written any reviews yet!


      %h3 History
      - if @user.exchanges.completed.any?
        = render partial: "exchanges/completed_exchange", collection: @user.exchanges.completed, locals: {user_type: @user.user_type_complement}
      - else
        You haven't interacted with anyone yet!

  .pure-u-1-8.side-columns

