- provide :title, @user.name

.pure-g.grid-columns-container
  .pure-u-1-5
  .pure-u-3-5.login-box-positioner
    .sign-up-box.sign-up-column.profile-page
      - if !current_user.nil? && current_user != @user
        = link_to "Contact #{@user.name}", new_user_conversation_path(@user.id), class: "btn btn-primary wizard-forward" 

        - if current_user.seeker? && @user.provider?
          = link_to "Request help from #{@user.name}", new_user_request_path(@user.id), class: "btn btn-primary wizard-back", id: "request-help-button"

      %h1.user-name{class: "header-username-#{gender_category(@user.gender[:identity])}"}
        = @user.name
      .user-resources
        - if @user.offers_food?
          = icon("fa fa-cutlery fa-2x")
        - if @user.offers_shower?
          = icon("fa fa-street-view fa-2x")
        - if @user.offers_laundry?
          = icon("fa fa-tags fa-2x")
        - if @user.offers_housing?
          = icon("fa fa-bed fa-2x")
        - if @user.offers_transportation?
          = icon("fa fa-car fa-2x")
        - if @user.offers_buddy?
          = icon("fa fa-users fa-2x")

        /= link_to "Reach out to #{@user.name}", "#", class: "btn btn-primary"
      %h2.user-status
        = @user.seeker? ? "Resource seeker" : "Resource provider"
      %div
        %span{class: "header-username-#{gender_category(@user.gender[:identity])}"}
          = "#{@user.gender[:trans] ? "#{@user.gender[:identity]} (trans)" : "Cis #{@user.gender[:identity].downcase}"}"
        .user-location
          = "#{@user.location.city}, #{@user.location.state}"


      %h3.user-rating
      - if !@user.number_reviews.nil?
        Average Rating
        = @user.average_rating
        %h3 
          = "Reviews (#{@user.number_reviews})"
        %ol.reviews
          = render @reviews
      - else
        %h3 
          #{@user.name} does not yet have any reviews.
  .pure-u-1-5

