- provide :title, @user.name

.pure-g.grid-columns-container
  .pure-u-1-5
  .pure-u-3-5.user-profile-column
    Profile page layout not implemented yet yo. Stay tuned.
    %h1
      = @user.name
      = link_to "Contact #{@user.name}", new_user_conversation_path(@user.id), class: "btn btn-primary" 
      /= link_to "Reach out to #{@user.name}", "#", class: "btn btn-primary"
    = @user.gender[:identity]
    .temp
      = @user.seeker? ? "Seeking help" : "Offering help"
    .temp
      = "#{@user.they} be located at #{@user.location ? @user.location.coordinates : '... hell if we know'}"
    .temp
      food?
      = @user.offers_food?
    .temp
      shower?
      = @user.offers_shower?
    .temp
      laundry?
      = @user.offers_laundry?
    .temp
      housing?
      = @user.offers_housing?
    .temp
      transportation?
      = @user.offers_transportation?
    .temp
      buddy?
      = @user.offers_buddy?
    .temp
      misc?
      = @user.offers_misc?
  .pure-u-1-5

