<% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>


<% if params[:review_id] && params[:euid] && (@review = @user.reviews.detect { |r| r.id.to_s == params[:review_id] }) && @review.authenticated?(:token, params[:euid]) && not(@review.completed) && signed_in? && current_user.id == @review.authorID %>
 <h1>Write a review for <%= @user.name %></h1>
 <h3>Leaving review as <%= current_user.name %></h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for :review do |f| %>

      <%= hidden_field_tag :review_id, params[:review_id] %>

      <%= f.label :text %>
      <%= f.text_field :text %>

      <%= f.label :rating %>
      <%= f.text_field :rating %>

      <%= f.submit "Submit review", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>



<% else %>
 <h1><%= @user.name %></h1>

 <div class="col-md-8">
    <% if @user.number_reviews > 0 %>
      <h3>Reviews (<%= @user.number_reviews %>)</h3>
       <ol class="reviews">
        <%= render @reviews %>
       </ol>
    <% end %>
 </div>

<% end %>