- provide :title, @user.name

.pure-g.grid-columns-container
  .pure-u-1-8.side-columns
  .pure-u-3-4.login-box-positioner
    #profile-page.sign-up-box.sign-up-column
      .pure-u-1
        - if !current_user.nil? && current_user != @user
          = link_to "Contact #{@user.name}", new_user_conversation_path(@user.id), class: "btn btn-primary wizard-forward" 

          - if current_user.seeker? && @user.provider?
            = link_to "Request help from #{@user.name}", new_user_request_path(@user.id), class: "btn btn-primary wizard-back", id: "request-help-button"

          - if current_user.provider? && @user.seeker?
            = link_to "Offer help to #{@user.name}", new_user_request_path(@user.id), class: "btn btn-primary wizard-back", id: "request-help-button"
        %h1#user-name.user-name{class: "header-username-#{gender_category(@user.gender[:identity])}"}
          = @user.name
      .pure-g
        .pure-u-1-4#profile-left-column
          %h2.user-status
            = @user.seeker? ? "Resource seeker" : "Resource provider"
          .user-resources
            - if @user.food?
              = icon("fa fa-cutlery fa-2x")
            - if @user.shower?
              = icon("fa fa-street-view fa-2x")
            - if @user.laundry?
              = icon("fa fa-tags fa-2x")
            - if @user.housing?
              = icon("fa fa-bed fa-2x")
            - if @user.transportation?
              = icon("fa fa-car fa-2x")
            - if @user.buddy?
              = icon("fa fa-users fa-2x")
          %div
            %span{class: "header-username-#{gender_category(@user.gender[:identity])}"}
              = "#{@user.gender[:trans] ? "#{@user.gender[:identity].capitalize}, Trans" : "Cis #{@user.gender[:identity].downcase}"}"
            .user-location
              = "#{@user.location.city}, #{@user.location.state}"
        .pure-u-3-4#profile-right-column
          %h2 About #{@user.name}
          - if @user.extended_profile.nil? || @user.extended_profile[:profile_summary].blank?
            - if current_user == @user
              You can edit your profile summary on
              = link_to "your settings page.", edit_user_path(current_user)
            - else
              #{@user.name} has not yet filled out #{@user.their} profile. Consider reaching out to #{@user.them} and helping #{@user.them} get started.
          - else
            = @user.extended_profile[:profile_summary]


      .pure-u-1#profile-bottom-section
        %h3.user-rating
        - if !@user.number_reviews.nil? && @user.number_reviews > 0
          Average Rating
          = get_stars(@user.average_rating)
          %h3 
            = "Reviews (#{@user.number_reviews})"
          %ol.reviews
            = render @reviews
        - else
          %h3 
            #{@user.name} does not yet have any reviews.
  .pure-u-1-8.side-columns

