.pure-g.grid-columns-container
  .pure-u-1-8.side-columns
  .pure-u-3-4.login-box-positioner
    .sign-up-box.sign-up-column
      - if @request.completed
        %h1
          You have finished helping #{@seeker.name}.

        - if @provider_review_for_seeker.completed
          %h1
            You have left #{@seeker.name} a review. Thank you!
        - else
          %div
            If you have time, please write a review about your experience with #{@seeker.name}. This helps other people like you navigate TransHousing safely.
          = link_to "Write a review", edit_user_review_url(@seeker.id.to_s, @provider_review_for_seeker.id.to_s), class: "login-submit-button"

      - elsif !@request.provider_accept_request
        %h1
          #{@seeker.name} has sent a help request!

        %div
          Click the button below to accept #{@seeker.name}'s request.

        %div
          = link_to "Accept request", user_request_path(@seeker, @request, accept: true), method: :patch, class: "login-submit-button"

      - elsif !@request.seeker_accept_request 
        %h1
          You have offered to help #{@seeker.name}.

        %div
          The next step is for #{@seeker.name} to confirm your offer. You will receive a notification at that time.

      - elsif !@request.provider_confirm_interaction

        %h1
          You have an active help request with #{@seeker.name}.

        %div
          Once you have completed your exchange with #{@seeker.name}, please come back to confirm your interaction occurred. Once both parties have confirmed the interaction, you will be able to leave reviews for each other.

        %div
          = link_to "Confirm Interaction", user_request_path(@seeker, @request, confirm: true), method: :patch, class: "login-submit-button"


      - elsif !@request.seeker_confirm_interaction

        %h1
          You have confirmed your interaction with #{@seeker.name}.

        %div
          Once #{@seeker.name} confirms your interaction, you will be able to leave reviews for each other.
  .pure-u-1-8.side-columns
          