%header.home-menu.pure-menu.pure-menu-horizontal
  =link_to render("logo"), '/', class: "pure-menu-heading #{current_page?('/') ? 'logo-homepage' : nil}", id: "logo"
  - if signed_in?
    = current_user.name
    = link_to "Log out", signout_path, method: "delete"
  - else
    %span.header-menu-items
      %ul.pure-menu-list
        %li.pure-menu-item
          = button_to "Sign up", signup_path, method: "get",
          id: 'sign-up-button', class: "btn btn-header #{current_page?('/') ? 'btn-lg-header' : nil} btn-sign-up"
        %li.pure-menu-item
          = button_to "Sign in", signin_path, method: "get",
          id: 'sign-in-button', class: "btn btn-header #{current_page?('/') ? 'btn-lg-header' : nil} btn-sign-in"