<% if review.completed %>

<li id="review-<%= review.id %>">
  <span class="reviewer"><%= link_to review.reviewer.name, user_path(review.reviewer_id) %></span> 
  <span class="rating"><%= get_stars(review.rating) %></span>
  <span class="text"><%= review.text %></span>
  <span class="timestamp">
    <%= review.updated_at.strftime("%B %Y") %>
  </span>
</li>

<% else %>


<% end %>








