<% if review.completed %>

<li id="review-<%= review.id %>">
  <span class="author"><%= link_to review.author, user_path(review.authorID) %></span> 
  <span class="rating"><%= get_stars(review.rating) %></span>
  <span class="text"><%= review.text %></span>
  <span class="timestamp">
    <%= review.updated_at.strftime("%B %Y") %>
  </span>
</li>

<% else %>


<% end %>








