Filter by user type:
.pure-g
  .pure-u-1
    - @all_user_type_filters.each do |f|
      = f
      = check_box_tag "#{f}", @filters.include?(f), @filters.include?(f), onclick: 'OnFilterChange(this)'

    Filter by resource:
    - @all_resource_filters.each do |f|
      = f
      = check_box_tag "#{f}", @filters.include?(f), @filters.include?(f), onclick: 'OnFilterChange(this)'


#map_canvas